
<div>
    
    <h2 class="welcome-message">
        Welcome to the My Events Page!
    </h2>  

    <div class="detailed-event-tabs" style=" max-width: 1700px; width: 1500px; height: 1000px;">
        <mat-tab-group>
            <mat-tab label="All Events">

            </mat-tab>

            <mat-tab label="Hosting">

            </mat-tab>

            <mat-tab label="Attending">

            </mat-tab>

            <mat-tab label="Completed">


            </mat-tab>

            <mat-tab label="Cancelled">

            </mat-tab>
        </mat-tab-group>
    </div>
</div>

<app-create-event/>