.flex-container {
  display: flex;
}

.welcome-message {
  text-align: center;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}
.card {
  margin: 10px;
}

mat-tab-group {
  width: 100%;
}