<mat-toolbar color="primary">
    <mat-toolbar-row>
      <!-- <button mat-button *ngIf="this.auth.user">{{auth.user.uid}}</button> -->
      <button 
        mat-button 
        routerLink="/feed"
        matTooltip="BeHere Home">
        <h1>BeHere</h1>
      </button>
      <div style="width: 20px;"></div>
  
      <ng-container *ngIf="this.auth.user; else lockIcon">
        <button
        mat-raised-button
        routerLink="/create"
        matTooltip="My Events" >
        My Events
        <mat-icon>
          assignment
        </mat-icon>
      </button>
      </ng-container>

      <ng-template #lockIcon>
        <button 
          id="blockIcon"
          mat-icon-button
          matTooltip="Login to Access Your Events"
          >
          <mat-icon
            aria-hidden="false"
            >
            lock
          </mat-icon>
        </button>
      </ng-template>
      

      <span class="spacer"></span>
      
      <ng-container *ngIf="this.auth.user; else loginIcon">
  
        <!-- <button 
          mat-button
          routerLink="/create"
          matTooltip="Create an event"
          id="createAnEvent"
          >
          <mat-icon
            aria-hidden="false"
            aria-label="Create an event"
            >
            cloud_upload
          </mat-icon>
        </button> -->

        <app-create-event></app-create-event>

        <span class="spacer2"></span>
  
        <app-profile-card 
          [user]="this.auth.user"
          (logoutClick)="logout()">
        </app-profile-card>
  
      </ng-container>
      <ng-template #loginIcon>
        <button 
          mat-raised-button
          (click)="login()"
          matTooltip="Login"
          >
          Log In
          <mat-icon
            aria-hidden="false"
            aria-label="Login"
            >
            fingerprint
          </mat-icon>
        </button>
      </ng-template>
    </mat-toolbar-row>
  </mat-toolbar>
  