<div class="flex-container">

<div class="MAP">

<google-map height="70vh"
            width="50vw"
            float="left"
            [center]="center"
            [zoom]="zoom"
            [options]="options"
            (mapClick)="addMarker($event)"
            (mapMousemove)="move($event)"
            (boundsChanged)="updateEventList()">

    <style>
        #container {
            width: 50%;
        float: left;
        padding: 20px;
        }
    </style>
    
    <map-marker #marker="mapMarker"
           *ngFor="let event_t of eventList"
        [position]="{'lat': event_t.lat, 'lng': event_t.lng}"
        (mapClick)="openInfoWindow(marker, event_t)"></map-marker>
    <map-info-window></map-info-window>

</google-map>

<p> 
    Latitude: {{display.lat}}         
</p> 
<p>
    Longitude: {{display.lng}}
</p>

</div>

    <div class="gmap-popup">
        
        <div *ngIf="currevent.name; else elseBlock">
            <span>
                
                <h1>{{currevent.name}}</h1>
                <p><i>ID: </i> <b>{{currevent.id}}</b> </p>
                <p><i>Latitude: </i> <b>{{currevent.lat}}</b> </p>
                <p><i>Longitude: </i> <b>{{currevent.lng}}</b> </p>
                <p><i>HostID: </i> <b>{{currevent.hostid}}</b> </p>
                <p><i>Address: </i> <b>{{currevent.address}}</b> </p>
                <p><i>Date: </i> <b>{{currevent.date}}</b> </p>
                <p><i>Time: </i> <b>{{currevent.time}}</b> </p>
                <p><i>Friends Attending: </i>   </p>
                <p><i>Attendees: </i> </p>
                <p><i>Tags: </i> </p>
                <p><i>Distance: </i> </p>

            </span>
          </div>
          <ng-template #elseBlock><span>

            <h2>
                Please click an event
            </h2>

          </span></ng-template>

    </div>

</div>