<div class="flex-container">

<div class="MAP">

<google-map height="70vh"
            width="50vw"
            float="left"
            [center]="center"
            [zoom]="zoom"
            [options]="options"
            (mapClick)="addMarker($event)"
            (mapMousemove)="move($event)"
            (boundsChanged)="updateEventList()">

    <style>
        #container {
            width: 50%;
        float: left;
        padding: 20px;
        }
    </style>
    
    <map-marker class="marker-class" #marker="mapMarker"
           *ngFor="let event_t of eventList"
        [options]="markerOptions"
        [position]="{'lat': event_t.lat, 'lng': event_t.lng}"
        (mapClick)="openInfoWindow(marker, event_t)"></map-marker>
    <map-info-window></map-info-window>

</google-map>

<p> 
    Latitude: {{display.lat}}         
</p> 
<p>
    Longitude: {{display.lng}}
</p>

</div>

    <div class="gmap-popup">
        
        <h1 id="currEventTitle">Title: {{currevent.name}}</h1>
        <p>ID: {{currevent.id}}</p>
        <p>Latitude: {{currevent.lat}}</p>
        <p>Longitude: {{currevent.lng}}</p>
        <p>HostID: {{currevent.hostid}}</p>
        <!-- <p>
            Location Name: {{currevent.locationName}}
        </p>
        <p>
            Time: {{currevent.time}}
        </p> -->

    </div>

</div>