html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

/* use viewport-relative units to cover page fully */
body {
  height: 100%;
  width: 100%;
}

/* include border and padding in element width and height */
/* * {
  padding-left: 5px;
  box-sizing: border-box;
} */

/* div {
  height: 100%;
  width: 100%;
} */

/* full-sized  container that fills up the page */
 div.flex-container {
  height: 100%;
  width: 100%;
}

div > div.maps-container {
  height: 100%;
  width: 600px;
  /* outline: #3e3e97 solid 5px; */
}


.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

::ng-deep .selected > mat-card {
  background-color: #aae8fd !important;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

/* @media only screen and (max-width: 1020px) {
  .flex-container {
    flex-direction: column;
  }
} */

img.banner {
  opacity: 0.8;
  padding-bottom: 20px;
  width: 100%;
  justify-self: center;
}

.parent-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: 0 auto; */
}