<div class = "parent-flex-container">
<div class="pageheader" style="display:grid;">
<h1 style="justify-self: center; font-size: 3rem; padding-top: 10px;">BeHere!</h1>
<p style="justify-self: center; font-size: 1.5rem; padding-bottom: 15px;">The platform that brings together your interests and your people, wherever you are.</p>
<img src="../../assets/citybanner.png" class="banner">
<h1 style="justify-self: center; font-size: 2rem;">Where to?</h1>
</div>

<div class="flex-container">
<div class="maps-container" style="flex: 2;">
<button mat-stroked-button (click)="updateEventList()">Reload Nearby Events</button>
<google-map #primary_google_map
            height="600px"
            width="100%"
            float="left"
            [center]="center"
            [zoom]="zoom"
            [options]="options"
            (mapClick)="updateSelectedLocation($event)"
            (mapMousemove)="move($event)"
            (tilesloaded)="initEventList()">

    <!-- <style>
        #container {
            width: 50%;
        float: left;
        padding: 20px;
        }
    </style> -->
    
    <div *ngFor="let event_t of eventList">

        <map-marker class="marker-class" #marker="mapMarker"
        *ngIf="event_t != selectedEvent"
        [options]="markerOptions"
        [position]="{'lat': event_t.lat, 'lng': event_t.lng}"
        (mapClick)="onMarkerClick(event_t)"></map-marker>

    </div>

    
    <map-info-window></map-info-window>
    <!-- <map-marker class="selected"
    #bluemarker
    [options]="markerOptions2"
    *ngIf="selectedEvent"
    [position]="{'lat': selectedEvent.lat, 'lng': selectedEvent.lng}"
    >

    </map-marker> -->
</google-map>
</div>

<!--
      constructor(public id: number, public name: string, 
    public hostid: number, public lat: number, public lng: number, 
    public address: string, public date: string, public time: string) {}
-->

<div class="events-tab" style="margin-left: 5px; flex: 1;">
    <mat-tab-group #tabGroup style = "height:  636px;"
    (selectedTabChange)="onTabChange()">
        <mat-tab label="Nearby Events"> 
            <app-card-a *ngFor="let event of eventList" 
                [id] ="event.id.toString()"
                [ngClass]="{'selected': selectedEvent === event}"
                [input_event]="event"
                (closedCardCEvent)="updateEventList()"
                (click)="onCardClick(event)" 
                style="height: 350px; width: 400px; padding: 20px;"/>
        </mat-tab>
        
        <mat-tab label="Attending" *ngIf="ems.auth.user">
            <ng-container *ngFor="let event of eventList">
                <app-card-a *ngIf="ems.currentlyAttendingEventIDs.includes(event.id)"
                [id] ="event.id.toString()"
                [input_event]="event"
                [ngClass]="{'selected': selectedEvent === event}"
                (closedCardCEvent)="updateEventList()"
                (click)="onCardClick(event)" 
                style="height: 350px; width: 400px; padding: 20px;"/>
            </ng-container>
        </mat-tab>

        <mat-tab label="Hosting" *ngIf="ems.auth.user"> 
            <ng-container *ngFor="let event of eventList">
                <app-card-a *ngIf="event.hostid == ems.auth.user.uid"
                [id] ="event.id.toString()"
                [ngClass]="{'selected': selectedEvent == event}"
                [input_event]="event"
                (closedCardCEvent)="updateEventList()" 
                (click)="onCardClick(event)" 
                style="height: 350px; width: 400px; padding: 20px;"/>
            </ng-container>
        </mat-tab>

        </mat-tab-group>
</div>
</div>
