<div id="overlay" class="overlay">
    <h2 mat-dialog-title>Create Event</h2>
    <mat-dialog-content class="mat-typography">




        <mat-grid-list cols="2" rowHeight="1:1">
            <mat-grid-tile>
            <div>
                <table class="table" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width">
                      <mat-label>Event Name</mat-label>
                      <textarea matInput #nameInput placeholder="Event Name"></textarea>
                    </mat-form-field></td>
                </tr></table>
                <table class="table" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width">
                      <mat-label>Date</mat-label>
                      <textarea matInput #dateInput ng-model="date" placeholder="Date"></textarea>
                    </mat-form-field></td>
                </tr></table>
                <table class="table" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width">
                      <mat-label>Time</mat-label>
                      <textarea matInput #timeInput ng-model="time" placeholder="Time"></textarea>
                    </mat-form-field></td>
                </tr></table>
                <table class="table" cellspacing="0"><tr>
                    <td><mat-form-field class="example-full-width">
                      <mat-label>Bio</mat-label>
                      <textarea matInput #bioInput ng-model="bio" placeholder="Bio"></textarea>
                    </mat-form-field></td>
                </tr></table>
                Selected Lat: {{ lat }}
                Selected Longitude: {{ lng }}
            </div>
            
        </mat-grid-tile>
        <mat-grid-tile>
            <google-map #cardb_google_map
            (mapClick)="updateSelectedLocation($event)"
            [center]="center"
            [options]="gmap_options">                    
            </google-map>            
        </mat-grid-tile>
        </mat-grid-list>
                
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button (click) = "createEvent()">SUBMIT</button>
        <span></span>
        <button mat-raised-button mat-dialog-close style="position: absolute; right: 10px;">CLOSE</button>
    </mat-dialog-actions>
</div>